
.signup-container {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}

/* Top Left Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  width: 120px;
  height: auto;
}

/* Centered Content */
.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.logo-circle img {
  width: 80px;
  height: 80px;
  margin: 20px 0;
}

.signup-content h1 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-content h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.signup-content p {
  margin-bottom: 20px;
  font-size: 14px;
}
.mid-text {
  line-height: 0.8rem;
  margin-bottom: 25px;
}
.signup-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.signup-form ::placeholder {
  color: #CFCFCF;
  text-align: center;
  font-size: 13px;
}
.phone-num {
  text-align: left;
  font-size: 14px;
  margin-bottom: 1px;
}
.phone-input {
  display: flex;
  width: 100%;

}

.phone-input select,
.phone-input input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.phone-input input {
  border-radius: 0 8px 8px 0;
  flex: 1;
}
.phone-input select {
   border-radius: 8px 0 0 8px;
   background-color: #E5DBFF;
}

/* Button */
.continue-button {
  background-color: #5D3FD3;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
}

.continue-button:hover {
  background-color: #5b21b6;
}

/* Footer */
.signup-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-link {
  color: #008080;
  cursor: pointer;
  border-bottom: 1px solid #008080;
}

.terms-links {
  margin-top: 10px;
}

.terms-links a {
  color: #555;
  text-decoration: none;
  margin: 0 5px;
}

/* Responsive (Mobile) */
@media (max-width: 600px) {
  .signup-form {
    width: 90%;
  }

  .logo img {
    width: 90px;
}
}
