    .action-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .action-icon {
        height: 3rem;
        width: 3rem;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    
    .icon-wrapper {
        color: var(--primary-200)
    }
    
    .action-button {
        width: 163px;
        height: 48px;
        gap: 8px;
        border-radius: 8px;
        padding: 12px 20px;
        color: var(--white-text);
        border: none;
        cursor: pointer;
        font-family: var(--body-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;

    }