button {
    border: none;
    background-color: var(--primary-200);
    color: var(--white-text);
    padding: 10px 20px;
    border-radius: 4px;
    height: 45px;
}

/* this can always be modified  */
.large-btn {
    width: 400px;
}

.small-btn {
    width: 200px;
}

.backlink {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--primary-200);
    font-weight: 500;
    font-size: 0.95rem;
  }
