.action-buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 32px;
}



.decline-btn {
  background: white;
  color: #db0000;
  border: 1px solid #db0000;
  transition: all 0.15s;
}

.decline-btn:hover {
  background-color: #db0000;
  color: #fff;
}

.accept-btn {
  background-color: #7859f4;
}

.accept-btn:hover {
  background-color: #5d3fd3;
}
