.sidebar {
    width: 16.625rem;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5625rem 0.625rem;
    font-family: sans-serif;
  }




.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 900;
  display: none;
}

.sidebar-overlay.show {
  display: block;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

  
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.625rem;
    margin: 0rem 1.25rem;
}
  
  .logo img {
    height: 50px;
  }

  

  .logo p {
    color: #008080;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.875rem;

  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  
  .nav-item {
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    color: #696969;
    font-size: 0.875rem;
    transition: 0.2s, color 0.2s;
    border-radius: 6px;
  }
  
  
  .nav-item:hover {
    background-color: #E4DDFF;
    color: #6f3fc9;
  }
  
  .nav-item.active {
    background-color: #6f3fc9;
    color: white;
  }
  
  .nav-item .icon {
    margin-right: 10px;
  }
  



  @media (max-width: 700px) {
  .sidebar {
      position: fixed;
      z-index: 1000;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
  }

  .sidebar.show {
      transform: translateX(0);
  }
  .hamburger-button {
    position: absolute;
    display: flex;
    padding: 1rem 2.8rem;
    z-index: 20;
  }

  .logo p {
      font-size: 24px;
  }

  .logo img {
      height: 40px;
  }

  .nav-item {
      padding: 10px 15px;
  }
}

