*{
    font-family: 'Lato', sans-serif;
}

.container {
    min-height: 100vh;
    padding-top: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: static;
  }
  
  .back {
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    font-size: 1rem;
    background: none;
    border: none;
    color: #7c3aed;
    cursor: pointer;
    font-weight: 500;
  }
  
  .logo-container {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .logo {
    width: 90px;
    height: 90px;
  }
  
  .title {
    font-size:32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 640px;
    padding-top: 1rem;
  
  }
  
  @media (max-width: 640px) {
    .card-container {
      flex-direction: column;
      gap: 2.5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }


    .back {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      font-size: 1.5rem;
      font-weight: 900;
    }

    .text {
      display: none;
    }

    .container {
      padding-bottom: 1rem;
    }
  }
  

  
  .card {
    flex: 1;
    border: 1px solid #d1d5db;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #fff;
    cursor: pointer;
  }

  .card:hover {
    background-color: #F0E9FF;
    border: 2px solid #6941C6;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  
  .card-text {
    font-size: 0.875rem;
    color: #4b5563;
  }
  
  .continue-button {
    width: 100%;
    margin-top: 0rem;
    padding: 10px 20px;
    background-color: #7c3aed;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .continue-button:hover {
    background-color: #6d28d9;
  }
  
  .footer-links {
    display: flex;
    gap: 2rem;
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 1.5rem;
    text-decoration: underline;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  