    .promo-card {
        width: 460px;
        height: 200px;
        /* margin-left: 50px; */
        border-radius: 12px;
        border-radius: 0.5rem;
        object-fit: fill;
        background-repeat: no-repeat;
        overflow: hidden;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        position: relative;
    }
    
    /* .promo-card img {
        padding: 1.5rem;
    } */
