.card {

    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1.25rem;
    box-shadow: 0px 4px 12px 0px #10182814;
}
  
.initials {
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-items: center;
    background: #F0F0F0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-family: 'Poppins';
    font-size: 1.25rem;
    color: #5D3FD3;
}


.name {
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5rem;
}
  

.rating {
    color: #696969;
    display: flex;
    width: 113px;
    height: 24px;
    gap: 5px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    align-items: center;
}

.rating span {
    white-space: nowrap;

}

  

.stats {
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.stat-box {
    flex: 1;
    border-radius: 20px;
    text-align: center;

    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: #F0F0F0;

  }
  
  
  .stat-number{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.25rem;
    color: #0E0E10;
}

.stat-label {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #868687;
}


.tags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
  
  .tag {
    border-radius: 12px;
    font-size: 11px;
    font-family: 'Lato';

 
    border-radius: 16px;
    padding: 8px 12px;
    background-color: #E4DDFF;
    color: #1F1546;

    
}





  
.button {
    font-family: 'Poppins';
    background-color: #5D3FD3;
    color: #FEFEFE;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;

}
  

@media (max-width:700px) {
    .card {
        align-items: center;
    }
    
    .button {
        width: 100%;
    }
    .name {
        font-size: 1rem;
        font-weight: 600;
    }
    .button {
        font-weight: 400;
        font-size: 0.75rem;
    }
    .stat-label {
        font-size: 0.625rem;
        font-weight: 400;
    }
    .stat-number {
        font-size: 0.75rem;
        font-weight: 400;
}
.tag {
    white-space: nowrap;
}
}
