@import '../../../index.css';
    .balance-card {
        width: 475px;
        height: 200px;
        border-radius: 12px;
        background-color: black;
        padding: 1.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        color: white;
        position: relative;
        overflow: hidden;
    }
    
    .balance-header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .balance-header h3 {
        font-weight: 500;
        color: var(--white-text);
    }
    
    .toggle-balance-btn {
        background: none;
        border: none;
        cursor: pointer;
        color: #d1d5db;
    }
    
    .toggle-balance-btn:hover {
        color: white;
    }
    
    .balance-amount {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    
    .credit-progress {
        position: relative;
        width: 160px;
        height: 80px;
        margin: 0 auto 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .progress-bar {
        position: relative;
        width: 160px;
        height: 80px;
        overflow: hidden;
    }
    
    .progress-bar::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 160px;
        border: 10px solid #D9D9D9;
        border-bottom-color: transparent;
        border-left-color: var(--primary-100);
        border-radius: 50%;
        transform: rotate(45deg);
        box-sizing: border-box;
    }
    
    .progress-fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 160px;
        border: 10px solid var(--primary-100);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        transform: rotate(45deg);
        box-sizing: border-box;
        clip: rect(0, 80px, 160px, 0);
    }
    
    .progress-values {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 10px;
    }
    
    .progress-min {
        font-size: 0.875rem;
    }
    
    .progress-percentage {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        font-weight: 500;
    }
    
    .progress-max {
        font-size: 0.875rem;
    }
    
    .credit-limit {
        text-align: center;
        font-size: 14px;
        color: var(--white-text);
        margin-top: 20px;
    }
    
    .balance-decoration {
        display: none;
        position: absolute;
        right: -3rem;
        bottom: -3rem;
        height: 10rem;
        width: 10rem;
        border-radius: 9999px;
        background-color: #3b82f6;
        opacity: 0.3;
    }